<script src="js/finplot.js"></script>
<script src="js/util.js"></script>
<div id="navbar"></div>
<center>
<div id="plots"></div>
</center>
<script src="navbar.js"></script>
<script src="example10.js"></script>
