<script src="js/finplot.js"></script>
<script src="js/util.js"></script>
<div id="navbar"></div>
<center>
<div id="buttons">
  <button onclick="drawPlots('1d')">1d</button>
  <button onclick="drawPlots('1m')">1m</button>
  <button onclick="drawPlots('3m')">3m</button>
</div><br>
<div id="plots"></div>
</center>
<script src="navbar.js"></script>
<script src="example5_data.js"></script>
<script src="example5.js"></script>
