<script src="js/finplot.js"></script>
<script src="js/util.js"></script>
<div id="navbar"></div>
<center>
  <canvas id="canvas" style="width:50%; height:20%;"></canvas>
</center>
<script src="navbar.js"></script>
<script src="example7.js"></script>
